# Dependencies
node_modules

# Build outputs
dist
.next
build
out

# Turbo
.turbo

# Expo
.expo
web-build/

# Env
.env
.env.local
.env.*.local

# Logs
*.log

# Editor
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Prisma
*.db
*.db-journal

# Coverage
coverage

# pnpm patch working dirs (temp, solo patches/ se commitea)
.patches/

#Documentos
modulo-usuarios-y-autenticacion.md
modulo-menu.md
modulo-carrito-ui.md
modulo-carrito-tests.md
modulo-carrito.md